

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style:none;
  box-sizing:border-box
}

li, a, button{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 16px;

  text-decoration: none;
}

header{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  padding:30px 10%;
  background-color:lightslategray
}
.logo{
  cursor: pointer;
  margin-right:auto
}
.search-bar{
  font-size: 0.7em;
  padding: 1em;
  padding-left:2em;
  flex-grow:1;
  font-size:10px;

  width: 70em;
  
}
.nav-links{
  list-style:none;  
}
.nav-links li{
  display:inline-block;
  padding: 0px 20px;
}

.nav-links li a{
  transition: all 0.3 ease 0s;
}
.nav-links li a:hover{
  color:aqua
}
button{
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor:pointer;
  transition: all 0.3s ease 0s;
}
button:hover{
  background-color: rgba(0,136,169,0.8);
}
.hero-image {
  background-image: url('https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-54587.jpg?w=360');
  background-size: cover;
  background-position: center;
  height: 400px;
  position: relative;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.hero-content h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero-content button {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}